@import 'tailwindcss';

body {
    font-family : "Inter", sans-serif;
}

.navbar-fixed {
    @apply fixed z-50 opacity-80;
    backdrop-filter: blur(5px);
    box-shadow : inset 0 -1px 0 0 rgba(0,0,0,0.1);
}

.hamburger-line {
    @apply w-7.5 h-0.5 my-2 block bg-slate-900;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}
.hamburger-active > span:nth-child(3) {
    @apply  -rotate-45;
}
.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}